.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
    background: $background;
    

    &:hover {
        opacity: 0.9;
    }
}